<!doctype html>
<html>
   <body>
   <H1>
    Add new product to fridge
    </H1>
      <table>
         <thead>
            <th>Product name</th>
            <th>Product quantity</th>
         </thead>

            <form action='send' method="POST">
            <tr>
               <td><input name="name", alt="Product name"></td>
               <td><input name="quantity", value="0", alt="Product quantyty"></td>
               <td><input type="submit"></td>
            </tr>
            </form>

      </table>

        <br>
      <a href = "/">Go back to home page</a>
   </body>
</html>