{% extends "index.html" %}

{% block zawartosc %}
          <div class="row">
            <div>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">About project</h6>
                </div>
                <div class="card-body">
                  <p>The FRIDGE design is a final project of the CODE.ME course. I invite you to use, reproduce and improve ...</p>
                </div>
              </div>
            </div>
          </div>

{% endblock %}

